html,
body {
    height: 100%;
}
body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: #F0F0F0 no-repeat center center fixed;
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
}

.c3-circle {
    /*stroke-width: 5px;*/
    /*stroke: #fff;*/
}

.tooltipItem-data-container {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 20%;
}

.data-container {
  background: #6bbae1;
}

.data-cell {
  padding-left:0;
  padding-right:0;
  border-bottom: 1px solid black;
}

.row-cell {
  padding-left:0;
  padding-right:0;
  border-bottom: 1px solid black;
}

.box-title {
  margin: 5px;
  font-size: 2rem;
}

.top-title {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.close_button {
    font-weight: bold;
}

.modal-content {
  min-width: 70rem;
  min-height: 35rem;
  font-size: 1.8rem;
  font-weight: bold;
}

#calc_title {

}

