extends ./layout
block title
  title Pythia Front

block content
  .container
    .row
      .col-lg-6
        h1#calc_title Input Params
        form(action="{{ url_for('result') }}", method='post')
          p var1
            if var1 is defined
              input(type='text', name='var1', value='{{var1}}')
            else
              input(type='text', name='var1', value='')
          p var2
            if var2 is defined
              input(type='text', name='var2', value='{{var2}}')
            else
              input(type='text', name='var2', value='')
          p var3
            if var3 is defined
              input(type='text', name='var3', value='{{var3}}')
            else
              input(type='text', name='var3', value='')
          p var4
            if var4 is defined
              input(type='text', name='var4', value='{{var4}}')
            else
              input(type='text', name='var4', value='')
          p var5
            if var5 is defined
              input(type='text', name='var5', value='{{var5}}')
            else
              input(type='text', name='var5', value='')
          p var6
            if var6 is defined
              input(type='text', name='var6', value='{{var6}}')
            else
              input(type='text', name='var6', value='')
          p var7
            if var7 is defined
              input(type='text', name='var7', value='{{var7}}')
            else
              input(type='text', name='var7', value='')
          p var8
            if var8 is defined
              input(type='text', name='var8', value='{{var8}}')
            else
              input(type='text', name='var8', value='')

          input.btn.btn-primary(type='submit', id='calc', name='submit', value='calculate f1')
          input.btn.btn-info(type='submit', id='calc', name='submit', value='calculate f2')
          input.btn.btn-success(type='submit', id='calc', name='submit', value='calculate f3')
          {{form.csrf_token}}
      .col-lg-6
        if result is defined
          h1 Result for {{func_name}}
          h3#result{{result}}
