doctype html
html.full(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description" content="pythia_app_front")
    meta(name="author" content="")

    block title
      title AIDOC test
    //- script(src="static/js/vue.js")
    link(href='static/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='static/css/c3.min.css', rel='stylesheet', type='text/css')
    link(href='static/css/style.css', rel='stylesheet', type='text/css')

    script(src="static/js/jquery.js")
    script(src="static/js/bootstrap.min.js")
    script(src="static/js/d3.v3.min.js", charset="utf-8")
    script(src="static/js/c3.min.js")
    script(src="static/js/tempdata.js")

  body
   div.container-fluid#content
    div.row
      div.col-md-12
        block content


    block footer
      footer
        nav.navbar.navbar-inverse.navbar-fixed-bottom(role="navigation")
          div.container
            div.navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#") AIDOC test

            div.collapse.navbar-collapse#bs-example-navbar-collapse-1
                ul.nav.navbar-nav
                  li
                    a(href="#") Tab1
                  li
                    a(href="#") Tab2
                  li
                    a(href="#") About




    script.
        //- Vue.config.delimiters = ["${", "}"];